body {
  background: white;
}

.sub-hero {
  background: url('images/forest-bg-2.jpg');
  background-size: cover;
  height: 70vh;
}

.bread-wrapper {
  display: grid;
  justify-content: center;
  margin: 3em 0 0;
}

ul.breadcrumbs {
  display: flex;
  margin-bottom: .5em;
}

ul.breadcrumbs li a {
  color: black;
  font-weight: bold;
  margin-right: .5em;
}

h1 {
  margin-top: 0;
}

.sub-desc {
  margin: 0 auto;
  width: 80%;
}

ul.featured-cabins {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  place-content: center;
  margin-top: 4em;
  margin-left: 0;
  width: 100%;
}

.cabin-cta span {
  color: black;
}

.cabin-cta:after {
  background: black;
}

@media (min-width: 900px) {
  .hero {
    padding: 4em;
  }
  
  ul.featured-cabins {
    place-content: flex-start;
  }
  
  .bread-wrapper {
    display: unset;
  }
  
  .sub-desc {
    width: 100%;
  }
}

@media (max-width: 550px) {
  ul.featured-cabins li:nth-child(odd) {
    margin-right: 0.75em; 
  }

  ul.featured-cabins li:nth-child(even) {
    margin-left: 0.75em; 
  }
}